html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family: $font-family1;
    color: $color2;
    scrollbar-gutter: stable;
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.lock {
    overflow: hidden;
}

