$container: 1170px;
$font-family1: "Inter", sans-serif;
$font-family2: "Roboto Condensed", sans-serif;

// === colors ===
$color1: rgba(254, 254, 254, 0.8);
$color2: #2e2e2e;
$color3: #9124CD;
$color4: #7d29c8;
$white: #fff;
$color5: #f94673;
$color6: rgba(84, 88, 193, 0.9);
$color7: #F7F8FA;
$color8: #f4f5fe;
$color9: #E8EAFE;
$color10: #8333CA;
$color11: #dde7f6;
$color12: #5457c1;


// === templates ===
%call-button {
  transition: all .2s;
  display: block;
  border-radius: 5px;
  color: $color2;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background: $white;
  letter-spacing: 0.5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: $color5;
  }
}

%form-input {
  display: inline-block;
    width: 100%;
    outline: none !important;
    height: 60px;
    border: $white solid 1px;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 18px;
    background: none;
    color: $white;
    margin-bottom: 30px;

    &::placeholder {
      color: $white;
      font-size: 16px;
    }
}