@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// === header ===

.header {
  padding-block: 16px;
  background-color: $color1;

  &__list {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 600;
    letter-spacing: 2px;
    color: $color2;
  }
}

// === /header ===


// === main ===

// --- hero ---

.logo {
  display: flex;
  align-items: center;

  &__link {
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  &__text {
    display: block;
    font-family: $font-family2;
  }

  &__text-main {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 5px;
  }

  &__text-colored {
    font-size: 16px;
    font-weight: 700;
    color: $color3;
  }

  &__slogan {
    max-width: 240px;
    height: 40px;
    line-height: 20px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
    border-left: 1px solid $color4;
  }

  
}

.tel {
  &__number {
    display: inline-block;
    color: $color2;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__info {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.call {
  @extend %call-button;
  width: 190px;
  height: 45px;
  font-weight: 600;
}

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 30px;
  background-position: center top;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    max-width: 500px;
    color: $color2;
    margin-bottom: 46px;

    &::after {
      content: "";
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 190px;
      height: 1px;
      background-color: $color4;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 75px;
  }

  &__tipItem {
    display: flex;
    align-items: center;
    max-width: 460px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tipImg {
    margin-right: 35px;
  }

  &__tipImg {
    width: 60px;
    height: 60px;
  }

  &__tipsText {
    font-size: 20px;
  }

  &__tipStress {
    font-weight: 700;
    color: $color4;
  }
}


// --- /hero ---

// === /main ===

@import 'media';
