@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// === header ===

.header {
  padding-block: 16px;
  background-color: $color1;

  &__list {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 600;
    letter-spacing: 2px;
    color: $color2;

    &:hover {
      text-decoration: underline;
    }
  }
}

// === /header ===


// === main ===

// --- popup ---

.popup {
  position: fixed;
  margin: 0;
  width: 475px;
  height: 457px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 12px;
  background-image: url(../images/formmaster-bg.png);
  background-size: cover;
  padding: 0;

  &::backdrop {
    background-color: rgba($color: #000, $alpha: 0.8)
  }

  &__inner {
    padding: 42px 27px 105px 27px;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
    color: $white;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    transition: all .3s;
    color: $white;

    &:hover {
      color: rgb(230, 49, 49);
    }
  }
}

.scroll-block {
  overflow: hidden;
}

// ---/ popup ---

// --- hero ---

.logo {
  display: flex;
  align-items: center;

  &__link {
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  &__text {
    display: block;
    font-family: $font-family2;
  }

  &__text-main {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 5px;
  }

  &__text-colored {
    font-size: 16px;
    font-weight: 700;
    color: $color3;
  }

  &__slogan {
    max-width: 240px;
    height: 40px;
    line-height: 20px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
    border-left: 1px solid $color4;
  }

  
}

.tel {
  &__number {
    display: inline-block;
    color: $color2;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.call {
  @extend %call-button;
  width: 190px;
  height: 45px;
  font-weight: 600;
}

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 300px;
  background-position: center top;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    position: relative;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    max-width: 500px;
    color: $color2;
    margin-bottom: 46px;

    &::after {
      content: "";
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 190px;
      height: 1px;
      background-color: $color4;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 75px;
  }

  &__tipItem {
    display: flex;
    align-items: center;
    max-width: 460px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tipImg {
    margin-right: 35px;
  }

  &__tipImg {
    width: 60px;
    height: 60px;
  }

  &__tipsText {
    font-size: 20px;
  }

  &__tipStress {
    font-weight: 700;
    color: $color4;
  }

  &__formContainer {
    text-align: center;
    background: $color6;
    padding: 42px 27px 59px 27px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    color: $white;
    text-align: center;
    max-width: 475px;
  }

  &__formTitle {
    max-width: 300px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 23px auto;
  }

  &__formSubtitle{
    font-size: 22px;
    margin-bottom: 45px;
    font-weight: 500;
  }

  
}

.feedback {
  &__input {
    @extend %form-input;
  }

  &__btn {
    @extend %call-button;
    font-size: 24px;
    // padding: 20px 90px;
    width: 100%;
    height: 70px;
    font-weight: 500;
  }
}

// --- /hero ---


// --- services ---

.services {
  padding-bottom: 65px;

  &__title {
    text-align: center;
    font-size: 44px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  &__items {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    padding: 30px 0;

    &:hover {
      background-color: $color8;

      .services__imgContainer{
        background-color: $color9;
        
        svg {
          fill:  $color10;
          stroke:  $color10;
          #Dribbble-Light-Preview {
            fill: $color10;
          }
        }
      }
    }
  }

  &__itemInner {
    display: flex;
    max-width: 440px;
    margin: 0 auto;
  }

  &__imgContainer {
    margin-right: 28px;
    width: 82px;
    height: 82px;
    background-color: $color7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__itemInfo {
    flex: 1;
  }

  &__name {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: $color2;
    margin-bottom: 6px;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
  }

  &__btn {
    color: $color4;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

// --- /services ---


// --- service-order ---

.order {
  padding-block: 55px;
  background-color: $color11;

  &__title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 55px;
    font-weight: 500;
  }

  &__items {
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../images/line.png) no-repeat 350px center;
  }

  &__item {
    max-width: 300px;
    height: 200px;
    position: relative;
    padding-left: 45px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 9;
  }

  &__itemInner {
    position: relative;
    z-index: 100;
    padding: 30px 20px;
    background-color: $color8;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__itemText {
    font-size: 18px;
    font-weight: 300;
  }
}

// --- /service-order ---


// --- get-price ---

.get-price {
  padding-block: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 585px;
    margin-right: 30px;
  }

  &__title {
    font-size: 44px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 22px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #9754d3;
      width: 190px;
      height: 1px;
    }
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 62px;
    font-weight: 500;
  }

  &__text {
    position: relative;
    font-size: 20px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url(../images/arrow.png);
      width: 97px;
      height: 25px;
    }
  }

  &__right {
    flex: 1;
  }

  &__feedback {
    background-image: url(../images/formmaster-bg.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    max-width: 475px;
    padding: 42px 27px 59px 27px;
  }

  &__textarea {
    padding-top: 10px;
    height: 100px;
    resize: none;
  }
}

// --- /get-price ---


// --- why ---

.why {
  background: linear-gradient(to bottom, #eef3fa, $white);
  padding: 55px 0 10px 0;

  &__title {
    font-size: 44px;
    margin-bottom: 55px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 33%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__carImg {
    width: 75px;
    height: 75px;
  }
}

//  --- /why ---


// --- guarantee ---

.guarantee {
  padding-top: 190px;
  background: url(../images/garant.jpg) no-repeat center top;
  min-height: 860px;

  &__inner {
    display: flex;
    justify-content: end;
  }

  &__info {
    max-width: 550px;
  }

  &__title {
    font-size: 44px;
    margin-bottom: 62px;
  }

  &__color {
    color: $color4;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 100px;
  }

  &__btn {
    width: 70%;
    height: 66px;
    font-size: 22px;
    background-color: $color12;
    color: $white;
    font-weight: 600;
  }
}

// --- /guarantee ---


// --- photos ---

.photos {
  padding: 40px 0 70px 0;

  &__title {
    font-size: 44px;
    margin-bottom: 55px;
    text-align: center;
  }
}

.swiper {
  padding-bottom: 60px !important; 

  &-slide {
    cursor: pointer;
  }

  &-button-prev::after, &-button-next::after {
    font-size: 34px !important;
  }

  &-button-next, &-button-prev {
    top: 42% !important;
  }
}

// --- /photos ---

// === /main ===

@import 'media';
